In [2]:
import numpy as np
import pandas as pd

#### Q1. Pandas version <br>
What's the version of Pandas that you installed?

In [3]:
pd.__version__

'2.3.2'

In [6]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

#### Q2. Records count <br>
How many records are in the dataset?

In [42]:
df.shape[0]

9704

#### Q3. Fuel types <br>
How many fuel types are presented in the dataset?

In [9]:
df['fuel_type'].nunique()

2

#### Q4. Missing values
How many columns in the dataset have missing values?

In [12]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

#### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [17]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

#### Q6. Median value of horsepower

In [18]:
df['horsepower'].median()

149.0

In [38]:
most_freq =  df['horsepower'].mode().iloc[0]
print(most_freq)

152.0

In [ ]:
df['horsepower'].fillna(most_freq, inplace=True)

In [40]:
df['horsepower'].isnull().sum()

np.int64(0)

In [41]:
df['horsepower'].median()

152.0

#### Q7. Sum of weights

In [48]:
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

In [49]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [50]:
XTX = X.T @ X

In [51]:
inv_XTX = np.linalg.inv(XTX)

In [52]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [54]:
w = inv_XTX @ X.T @ y

In [55]:
print(w)

[0.01386421 0.5049067 ]

In [56]:
w.sum()

np.float64(0.5187709081074007)